$base-color: #d3d3d3;

.contentRoot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
.contentTabs {
  margin-right: 10px;
  width: 290px;
  font-size: 20px;
  font-weight: 400;
}
.contentText {
  padding: 10px;
  width: 500px;
  height: 300px;
  border: 1px solid $base-color;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .contentTabs {
    margin-right: 0;
  }
  .contentText {
    width: 290px;
    height: 400px;
  }
}
